
div {
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  body{
      background-color: lightblue;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }

  footer{
      margin-top: auto;
  }
  table {
      margin-left: 15px;
      margin-right: 15px;
      width:auto;
  }
  td{
      text-align: center;
      vertical-align: top;
      width: auto;
      height: auto;
  }

  .td_vertical{
      width: auto;
      vertical-align: top;
      writing-mode: vertical-lr;
      text-orientation: upright;

  }


  .left{
        text-align: left;
        margin-left: 15px;
        margin-right: auto;
   }

  .link:hover {
        color: #d11717;
  }
